<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
  <title><%= title %></title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
    </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel='stylesheet' href='/css/style.css' />


</head>
<body>
    <nav>
        <div class="light-blue lighten-2 nav-wrapper">
          <a href="#" class="brand-logo">(UN)POPULAR OPINIONS</a>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><%= user.name %></li>
            <li>
                <% if(user) { %>
                    
                  <a href="/logout">Logout</a></i>
                <% } else { %>
                  <a href="/auth/google">Login With Google</a></i>
                <% } %>
              </li>
              <li><a href="/opinions/new" <%- title === 'Add Opinion' ? 'class="active"' : '' %>>Add Opinion</a></li>
              <li><a href="/opinions" <%- title === 'All Opinions' ? 'class="active"' : '' %>>All Opinions</a></li>
          </ul>
        </div>
      </nav>
  <main>
    <h2 class="pagetitle"><%= title %></h2>
   