<%- include('../partials/header') %>
<table>
    <thead>
        
        <th></th>
        <th></th>
        <th>Rating</th>
        <th>Opinion</th>
    </thead>
    <tbody>
        <% users.map(function(user) { %>
            <% if(user.opinions) { %>
        <% user.opinions.forEach(function(o) { %>
            <tr>
               <td><strong><%= user.name %></strong></td>
                <td><strong><%= o.itemName %></strong></td>
                <td><%= o.rating %></td>
                <td><%= o.caption %></td>
                <td><form action="/opinions/<%= o._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button></form></td>
                <td><button><a href="/opinions/<%= o._id %>">Details</a></button></td>    
            </tr>
        <% }); %>
        <% }; %>
    <% }); %>

    </tbody>
</table>

<%- include('../partials/footer') %>