<%- include('../partials/header') %>






    <h1 id="itemname"><%= opinion.itemName %></h1>
    <section class="newopinion">
       <label>Rating:</label>
       <div><%= opinion.rating %></div>
       <label>Opinion: <div><%= opinion.caption %></div></label> </label>
       
       <label>Comments: </label>
       <% opinion.comment.forEach(function(comment) { %>
       <div><%= comment.review %></div>
       <% }) %>
       <form action="/opinions/<%= opinion._id %>" method="POST">
       <input type="text" name="review" placeholder="Add a Comment">
    </select>
   
    <input type="submit" value="Add Comment">

       <a href="/opinions/<%= opinion._id %>/edit">Change Your Opinion</a> 
      </section>
   
    <%- include('../partials/footer') %>